 body {
    background-image:url("https://picsum.photos/id/283/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

 }

 #header{
    background-color: #39304A;
    color:white;
    height: 60px;
 }

  .nav a {
    color: white;
    text-decoration: none;
  }


  #hero{
    font-size: 22px;
    color: white;
  }

  #hero h1{
    font-size: 80px;
  }

  #cta {
    background-color: #FF3C38;
    color: white;
  }