 body {
    background-image:url("https://picsum.photos/id/283/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

 }

 #header, .nav a, #hero, #cta{
            color:white;
 } 

 

 #header{
    background-color: #39304A;
    height: 60px;
 }

 a:hover {
  text-decoration:underline;

 }

 a {
    text-decoration: none;
  }


  #hero {
    font-size:22px;
  }
  

  #hero h1{
    font-size: 80px;
  }

  #cta {
    background-color:purple;
    
  }

  #cta:hover {
    background-color:blueviolet;
}

  