 body {
    background-image:url("https://picsum.photos/id/283/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;

 }

 #header, .nav a, #hero, #cta{
 color:white;
 } 

 

 #header{
    background-color: #39304A;
    height: 60px;
    padding:10px;
 }

 .logo {
  float:left;
 }

 .nav {
  float:right;
 }

 a:hover {
  text-decoration:underline;

 }

 a {
    text-decoration: none;
  }


  #hero {
    font-size:22px;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:10%;
  }
  

  #hero h1{
    font-size: 80px;
  }

  #cta {
    background-color:purple;
    float:left;
    
  }

  #cta:hover {
    background-color:blueviolet;
}

.button {
  display:block;
  width:fit-content;
  padding:10px 20px 10px 20px;
}

.card {background-color:white;
width:20px;
padding:10px 20px 10px 20px;
display:flex;
flex-direction:colum;
justify-content: space-around;
align-items: center;
border-radius: 8px;
box-shadow: 5px 5px 20px blueviolet;
}

#testmolials {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding: 20vh 40px 20vh 40px ;
}

.quote::before, .quote::before {
  content: "\";
  font-size: 30px;
  font-weight:bolder;

}

#services{
  background-color: #39304A;
  display:flex;
  flex-direction: space-around;
  padding:20vh 40px 20vh 40px;
}


  